
header nav {
 text-align: center;
 padding-top: 50px;
 padding-bottom: 50px;

}

header nav ul {
list-style-type: none;
height: 10px;

}

header nav ul li {
  display: inline;

}

header nav ul li a {
  color:white;
  padding: 8px 16px;
  text-decoration: none; 
 font-family: 'Open Sans', sans-serif;
}

header nav ul li a:hover {
  text-decoration: none;

  color: white;
  font-weight: bold;   
}