body{
	text-align: center;
	background-color: #555555;
	background-image: url("../images/images redimensiones/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-position: 50% 30%;

}
header nav {
 text-align: center;
 margin-top: 60px;

}

header nav ul {
list-style-type: none;
height: 10px;

}

header nav ul li {
  display: inline;

}

header nav ul li a {
  color:white;
  padding: 8px 16px;
  text-decoration: none; 
 font-family: 'Open Sans', sans-serif;
}

header nav ul li a:hover {

  color: white;
  font-weight: bold;   
}

#contenair{
	margin-top: 15%;
}

h1{
	font-family: 'Open sans', sans-serif;
	font-size: 6em;
	color: white;
	font-weight: bold;
}
p{
	font-family: 'Open sans', sans-serif;
	font-size: 1.5em;
	color: white;
	font-weight: bold;
}
