*{
    font-family: 'Open Sans', 'Courier New', Courier, monospace; 
    
}

#include{
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 90px;
}

.head{
    background-color: #3b3b3b;
}

.test{
    margin-left: 90px;
    text-align: center;
    color: white;
}

h1{
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 80px;
}

h2{
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 30px;
}

.hr1{
    margin-left: 90px;
    margin-right: 90px;
    border-color: white;
    padding-bottom: 30px;
}


.butn{
    margin: 5px 0px;
    font-size: 20px;
    background-color: #7c7c7c;
    text-decoration: none;
    width: 340px;
}
  
.butn:hover {
    background: #ffffff;
    text-decoration: none;
}

.butn a, .butn a:hover{
    text-decoration: none;
    color: #bcbcbc;
}

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .pochette-column {
  
   margin-left: 100px;
   margin-right: 0;
   width: 0;
   margin-bottom: 180px;
  }
  
  .playlist-column {
    
    margin-left:-300px;
  }
  
  .butn-column {
    
    height: 100px;
    width: 0;
    margin-left: 100px;
    margin-top: -150px;  
  }

.some-page-wrapper{
    display: inline;
}